//Colors
$primary-color: #ffbe00;

$light-gray: #efefef;
$pearl-gray: #d2d2d2;
$medium-gray: #7c7c7c;
$dark-gray: #474747;

//Messages
$error: #d05866;
$success: #b0d058;
$info: #8bc4de;

//Social
$facebook: #3b5998;
$twitter: #00aced;
$google: #dd4b39;
$instagram: #517fa4;
$youtube: #bb0000;
$pinterest: #cb2027;
$linkedin: #007bb6;
$vimeo: #aad450;
$flickr: #ff0084;