@import 'reset';
@import 'grid';
@import 'mixins';
@import 'variables';
@import 'ui';

* {
    @include box-sizing(border-box);
    @include transition(0.3s, ease-in-out);
}

body {
    line-height: 1.5;
    font-family: 'gotham', sans-serif;
    color: $medium-gray;
    background-color: white;
}

h1 {
    color: $dark-gray;
}

h1, h2, h3 ,h4 {
    text-align: center;
    margin-bottom: 15px;
}

.title-white {
    a {
        &:hover {
            color: white;
        }
    }
}

.nav-btn {
    background-color: $dark-gray;
    color: white;
    font-size: 2.2em;
    padding: 3px 12px 8px 12px;
    position: fixed;
    cursor: pointer;
    top: 0;
    right: 47%;
    z-index: 2;
    &:hover {
        padding-top: 8px; 
    }
}

.nav-res {
    position: fixed;
    top: -55px;
    width: 100%;
    z-index: 990;
    background-color: $dark-gray;
    ul {
        width: 100%;
        display: table-row;
        li {
            display: table-cell;
            width: 7%;
            text-align: center;
            font-size: 1em;
            font-weight: 300;
            white-space: nowrap;
            a {
                color: $medium-gray;
                padding: 15px;
                display: inline-block;
                &:hover {
                    color: $light-gray;
                }
            }
        }
    }
}

.row {
    padding: 70px;
    .big-title {
        color: $dark-gray;
        @include ribbon(50px, 20px, white, $primary-color);
    }
    .color {
        @include col($n: 2);
        padding: 30px 0;
        text-align: center;
        margin-bottom: 15px;
        color: white;
        &.primary-color {
            background-color: $primary-color;
        }
        &.light-color {
            background-color: $light-gray;
        }
        &.pearl-color {
            background-color: $pearl-gray;
        }
        &.medium-color {
            background-color: $medium-gray;
        }
        &.dark-color {
            background-color: $dark-gray;
        }
        &.error-color {
            background-color: $error;
        }
        &.success-color {
            background-color: $success;
        }
        &.info-color {
            background-color: $info;
        }
        &.facebook-color {
            background-color: $facebook;
        }
        &.twitter-color {
            background-color: $twitter;
        }
        &.google-color {
            background-color: $google;
        }
        &.instagram-color {
            background-color: $instagram;
        }
        &.youtube-color {
            background-color: $youtube;
        }
        &.pinterest-color {
            background-color: $pinterest;
        }
        &.linkedin-color {
            background-color: $linkedin;
        }
        &.vimeo-color {
            background-color: $vimeo;
        }
    }
    .icons {
        @include col($n: 2);
        padding: 40px 0;
        height: 160px;
        margin-bottom: 15px;
        background-color: white;
        text-align: center;
        i {
            color: $dark-gray;
            font-size: 2.4em;
        }
        &.cocina-icons {
            i {
                font-size: 3.6em;
            }
        }
    }
}

.big-element {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.small-element {
    position: relative;
    width: 40%;
    margin: 0 auto;
}

#buttons, #share-bar, #messages, #home, #grid, #footer {
    text-align: center;
}

#grid {
    h4 { margin: 30px 0 5px 0; }
}

xmp {
    background-color: rgba(0,0,0,0.1);
    font-size: 1.2em;
    text-align: left;
    color: $dark-gray;
    white-space: pre-wrap;
}

.tag-code {
    padding: 10px;
    background-color: rgba(0,0,0,0.1);
    font-size: 1.1em;
    color: $dark-gray;
}